<header class="sticky top-0 flex flex-col">
  <nav class="top-header bg-[#c1c7ad]">
    <div class="grid grid-cols-4 w-[60vw] mx-auto items-center p-4">
      <section class="flex gap-x-4 col-start-2 col-span-2">
        <!-- Top Header Links -->
      </section>
      <section class="flex justify-end col-start-4">
        <!-- Language Links -->
      </section>
    </div>
  </nav>
  <nav class="bottom-header bg-[#fcfaf3] shadow-md">
    <div class="grid grid-cols-4 w-[60vw] mx-auto items-center p-4">
      <section class="col-span-1 flex items-center">
        <img
          src="../assets/imgs/image.png"
          alt="Log Bank"
          class="w-32 h-auto"
        />
      </section>
      <section class="flex gap-x-6 col-span-2 self-end">
        <!-- Bottom Header Links -->
      </section>
      <section class="flex justify-end items-center col-span-1">
        <div class="flex flex-col items-center space-y-4">
          <!-- Quick Access Link and Button -->
        </div>
      </section>
    </div>
  </nav>
</header>
