<main class="w-[60vw] mx-auto py-4">
  <div class="grid grid-cols-4 gap-4 section1">
    <aside class="flex flex-col bg-[#fcfaf3] shadow-md rounded-lg p-4 justify-center">
      <!-- Articles will be injected here dynamically -->
    </aside>
    <section
      class="col-span-3 h-[24vw] bg-gray-200 rounded-lg overflow-hidden shadow-md mr-2"
    >
      <img
        src="../assets/imgs/slider-1.jpg"
        alt="slider-1"
        class="h-full w-full object-fill"
      />
    </section>
  </div>
</main>
