<div class="section3 max-w-[60vw] mx-auto py-6">
  <div
    class="section3-content grid grid-cols-4 shadow-md rounded-2xl min-h-[30rem]"
  >
    <!-- Items Section -->
    <div class="section3-items flex items-center">
      <div
        class="grid grid-rows-5 rounded-2xl mx-6 gap-4 w-full"
        id="sidebar"
      ></div>
    </div>
    <!-- Topics Section -->
    <div class="section3-topics grid col-span-3 mx-6 gap-8 py-6">
      <div
        class="grid grid-cols-3 items-center gap-8"
        id="news-container"
      ></div>
    </div>
  </div>
</div>
